{{ $pages := .Site.RegularPages }}
{{ with .Params.content }}
  {{ if .filters }}
    {{ range $key, $value := .filters }}
      {{ if $value }}
        {{ $pages = $pages | where $key $value }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ if .count }}
    {{ $pages = $pages | first .count }}
  {{ end }}
{{ end }}

<div class="collection">
  {{ range $pages }}
    <div class="collection-item">
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <p>{{ .Summary }}</p>
    </div>
  {{ end }}
</div>
